<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body>
    {{> navbar }}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, dolor! Sit pariatur iste omnis mollitia natus
        eius distinctio reprehenderit, esse dolores voluptatibus laudantium consequuntur cumque temporibus aliquid modi
        ad iusto!</p>
    {{> footer }}
</body>

</html>